src/xsd/ical.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 * Copyright (C) 2016-2025 Peter Herkenrath
 * %%
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *      http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * #L%
 */
--><xs:schema xmlns="http://hl7.org/fhir" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xhtml="http://www.w3.org/1999/xhtml" targetNamespace="http://hl7.org/fhir" elementFormDefault="qualified" version="1.0">
  <xs:include schemaLocation="fhir-base.xsd"/>
  <xs:element name="ICal" type="ICal">
    <xs:annotation>
      <xs:documentation xml:lang="en">derived from Schedule</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ICal">
    <xs:annotation>
      <xs:documentation xml:lang="en"></xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DomainResource">
        <xs:sequence>
          <xs:element name="identifier" minOccurs="0" maxOccurs="unbounded" type="Identifier">
            <xs:annotation>
              <xs:documentation xml:lang="en">An identifier for this calevent.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="active" minOccurs="0" maxOccurs="1" type="boolean">
            <xs:annotation>
              <xs:documentation xml:lang="en">Whether this ICal record is in active use.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="cutype" minOccurs="0" maxOccurs="1" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">ICal actor class (individual, ...).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="caltype" minOccurs="0" maxOccurs="1" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">ICal type (service, holiday, meeting).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="serviceCategory" minOccurs="0" maxOccurs="unbounded" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">service category, points to HealthCareServices</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="serviceType" minOccurs="0" maxOccurs="unbounded" type="CodeableReference">
            <xs:annotation>
              <xs:documentation xml:lang="en">service category, points to HealthCareServices</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="specialty" minOccurs="0" maxOccurs="unbounded" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">specialties of the actor (professions)</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="actor" minOccurs="0" maxOccurs="unbounded" type="Reference">
             <xs:annotation>
               <xs:documentation xml:lang="en">the individual which powers the services</xs:documentation>
             </xs:annotation>
          </xs:element>
          <xs:element name="name" minOccurs="0" maxOccurs="1" type="string">
             <xs:annotation>
               <xs:documentation xml:lang="en">human readable name of the ICal</xs:documentation>
             </xs:annotation>
          </xs:element>
          <xs:element name="organization" minOccurs="0" maxOccurs="unbounded" type="Reference">
             <xs:annotation>
               <xs:documentation xml:lang="en">organizations which are represented by the services</xs:documentation>
             </xs:annotation>
          </xs:element>
          <xs:element name="comment" minOccurs="0" maxOccurs="1" type="markdown">
             <xs:annotation>
               <xs:documentation xml:lang="en">further description of the ical services and interactions</xs:documentation>
             </xs:annotation>
          </xs:element>
          <xs:element name="schedule" minOccurs="0" maxOccurs="unbounded" type="ICal.Schedule">
             <xs:annotation>
               <xs:documentation xml:lang="en">the concrete time tables of the services</xs:documentation>
             </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ICal.Schedule">
    <xs:annotation>
      <xs:documentation xml:lang="en">An ICalSchedule.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="type" minOccurs="0" maxOccurs="1" type="code">
             <xs:annotation>
               <xs:documentation xml:lang="en">type of time table (service, meeting, ...)</xs:documentation>
             </xs:annotation>
          </xs:element>
          <xs:element name="basedOn" minOccurs="0" maxOccurs="1" type="Reference">
             <xs:annotation>
               <xs:documentation xml:lang="en">template for time table. If the actor participates on other activities, this is the link for these (e.g. meetings) and the schedule has no own time table.</xs:documentation>
             </xs:annotation>
          </xs:element>
          <xs:element name="isSpecial" minOccurs="0" maxOccurs="1" type="boolean">
             <xs:annotation>
               <xs:documentation xml:lang="en">if true, the schedule is a specialized service, which has other scheduling rules.</xs:documentation>
             </xs:annotation>
          </xs:element>
          <xs:element name="ff" minOccurs="0" maxOccurs="1" type="boolean">
             <xs:annotation>
               <xs:documentation xml:lang="en">if true, the actor takes complete responsibility for the service.</xs:documentation>
             </xs:annotation>
          </xs:element>
          <xs:element name="period" minOccurs="0" maxOccurs="1" type="Period">
             <xs:annotation>
               <xs:documentation xml:lang="en">the time interval in which the schedule's definitions are valid.</xs:documentation>
             </xs:annotation>
          </xs:element>
          <xs:element name="timezone" minOccurs="0" maxOccurs="1" type="code">
             <xs:annotation>
               <xs:documentation xml:lang="en">the timezone, e.g. MEZ.</xs:documentation>
             </xs:annotation>
          </xs:element>
          <xs:element name="venue" minOccurs="0" maxOccurs="1" type="ICal.Venue">
             <xs:annotation>
               <xs:documentation xml:lang="en">Defines location and reservation priorities, where the events will occur. Can be overrules in event definitions.</xs:documentation>
             </xs:annotation>
          </xs:element>
          <xs:element name="note" minOccurs="0" maxOccurs="1" type="Annotation">
             <xs:annotation>
               <xs:documentation xml:lang="en">Further informations on the schedule.</xs:documentation>
             </xs:annotation>
          </xs:element>
          <xs:element name="rendering" minOccurs="0" maxOccurs="1" type="Rendering">
             <xs:annotation>
               <xs:documentation xml:lang="en">Further informations on the schedule's rendering in calendar.</xs:documentation>
             </xs:annotation>
          </xs:element>
          <xs:element name="appLetter" minOccurs="0" maxOccurs="1" type="ICal.AppLetter">
             <xs:annotation>
               <xs:documentation xml:lang="en">link and template for sending appointment info to consumer of service (Terminbrief).</xs:documentation>
             </xs:annotation>
          </xs:element>
          <xs:element name="timing" minOccurs="0" maxOccurs="1" type="ICal.Timing">
             <xs:annotation>
               <xs:documentation xml:lang="en">Further informations for the scheduling engine.</xs:documentation>
             </xs:annotation>
          </xs:element>
          <xs:element name="schedule" minOccurs="0" maxOccurs="unbounded" type="ICal.Schedule">
             <xs:annotation>
               <xs:documentation xml:lang="en">sub time table, which combines several event definitions belonging together (no more than one level deep).</xs:documentation>
             </xs:annotation>
          </xs:element>
          <xs:element name="event" minOccurs="0" maxOccurs="unbounded" type="ICal.Event">
             <xs:annotation>
               <xs:documentation xml:lang="en">the concrete or abstract event definitions (ICalendar model).</xs:documentation>
             </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ICal.AppLetter">
    <xs:annotation>
      <xs:documentation xml:lang="en">A link to a letter template.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="altName" minOccurs="0" maxOccurs="1" type="string">
             <xs:annotation>
               <xs:documentation xml:lang="en">human readable name of the appLetter template.</xs:documentation>
             </xs:annotation>
          </xs:element>
          <xs:element name="template" minOccurs="0" maxOccurs="1" type="Reference">
             <xs:annotation>
               <xs:documentation xml:lang="en">reference to the appLetter template.</xs:documentation>
             </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ICal.Timing">
    <xs:annotation>
      <xs:documentation xml:lang="en">timing defaults for scheduling engine, see also in event.xsd.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="pre" minOccurs="0" maxOccurs="1" type="integer">
          </xs:element>
          <xs:element name="exam" minOccurs="0" maxOccurs="1" type="integer">
          </xs:element>
          <xs:element name="post" minOccurs="0" maxOccurs="1" type="integer">
          </xs:element>
          <xs:element name="overBookable" minOccurs="0" maxOccurs="1" type="boolean">
          </xs:element>
          <xs:element name="blocking" minOccurs="0" maxOccurs="1" type="boolean">
          </xs:element>
          <xs:element name="parallelPerHour" minOccurs="0" maxOccurs="1" type="integer">
          </xs:element>
          <xs:element name="query" minOccurs="0" maxOccurs="1" type="code">
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ICal.Event">
    <xs:annotation>
      <xs:documentation xml:lang="en">An ICal Event.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="name" minOccurs="1" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">name for idendification.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="summary" minOccurs="0" maxOccurs="1" type="summary">
            <xs:annotation>
              <xs:documentation xml:lang="en">display name for Event.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="description" minOccurs="0" maxOccurs="1" type="markdown">
            <xs:annotation>
              <xs:documentation xml:lang="en">further informations, mostly not needed.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="start" minOccurs="1" maxOccurs="1" type="time">
            <xs:annotation>
              <xs:documentation xml:lang="en">(abstract) start time for recurrence.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="end" minOccurs="1" maxOccurs="1" type="time">
            <xs:annotation>
              <xs:documentation xml:lang="en">(abstract) start time for recurrence.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="venue" minOccurs="0" maxOccurs="1" type="ICal.Venue">
            <xs:annotation>
              <xs:documentation xml:lang="en">location and priority for this single event.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="note" minOccurs="0" maxOccurs="1" type="Annotation">
            <xs:annotation>
              <xs:documentation xml:lang="en">a note for admin purposes.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="rrule" minOccurs="0" maxOccurs="1" type="ICal.RRule">
            <xs:annotation>
              <xs:documentation xml:lang="en">a single recurrence definition.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="rdate" minOccurs="0" maxOccurs="unbounded" type="date">
            <xs:annotation>
              <xs:documentation xml:lang="en">additional concrete days for recurrence.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="exdate" minOccurs="0" maxOccurs="unbounded" type="date">
            <xs:annotation>
              <xs:documentation xml:lang="en">additional concrete days for exclusion of recurrences.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ICal.Venue">
    <xs:annotation>
      <xs:documentation xml:lang="en">An ICal event location.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="priority" minOccurs="0" maxOccurs="1" type="code">
            <xs:annotation>
              <xs:documentation xml:lang="en">priority for using the referenced location</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="location" minOccurs="1" maxOccurs="1" type="Reference">
            <xs:annotation>
              <xs:documentation xml:lang="en">Reference to the location, where the event should occur.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ICal.RRule">
    <xs:annotation>
      <xs:documentation xml:lang="en">An ICal event recurrence rule.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="freq" minOccurs="1" maxOccurs="1" type="code">
            <xs:annotation>
              <xs:documentation xml:lang="en">basic frequency for the recur rule filters (daily, monthly, yearly).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="byYear" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">seldom used, e.g. holidays occuring once.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="byMonth" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">defines the month</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="byWeek" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">defines the calendar week (KW) or even/odd</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="byDay" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">defines the day within week or month (Mo, 3:Mo).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
